/* docs/css/reservations.css */
/* Table styling for reservations */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;
}

th,
td {
    padding: 0.8rem 0.5rem;
    border-bottom: 1px solid #ddd;
    text-align: left;
}

th {
    background-color: var(--primary-color);
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}